<html>



<body>
    <h2>PROFILE
    </h2>

    <img src="assets/face.png" width="" height="">
    <h1>LEBOGANG MOKWANA
    </h1>
    <h3>BIO
    </h3>
    <p>my dreams are endless </p>
    <table>

        <tr>
            <td>
                <div *ngFor="let item of list">{{item.name}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div *ngFor="let item of list">{{item.surname}}</div>
            </td>
        </tr>
    </table>
</body>
<div class="footer">
    <p>Lebogang mokwana</p>
</div>


</html>